strong {
  font-weight: bold;
}

.blue-card {
  background: #046b99;
  color: #fff;
}

.blue-gradient {
  background: linear-gradient(180deg, #01395e 26.31%, #046b99 95.15%);
}

.dark-banner {
  background: #323a45;
  color: #fff;
  padding: 40px 0px;
}

.dark-text {
  color: #3b3a48;
}

.focus-area-header {
  background: linear-gradient(13deg, #eef8fb 0%, #6db7d8 100%);
}

.ghost-button {
  border: 1px solid #fff;
  color: #fff;
}
.ghost-button:hover {
  /* background: #a3a3a3d6; */
  border: 1px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.gray {
  background: #ededef;
}

.grid-link-margin {
  margin-bottom: 1rem;
}

.light-gray {
  background: #eef8fb;
}

.logo {
  align-self: flex-end;
  width: 3rem;
}

.mobile-order-2 {
  flex-basis: min-content;
  flex-grow: 2;
}

.purple-text {
  color: #035376;
}

.objective-card {
  background: #eef8fb;
}

.objective-card > h3 {
  color: #035376;
}

.text-align-center {
  text-align: center;
}

@media screen and (max-width: 991px) {
  .mobile-order-2 {
    order: 2;
  }
}

@media screen and (max-width: 767px) {
  .container .my-4 {
    flex-direction: column;
  }

  .grid-link-margin {
    margin-bottom: 0;
  }
}
