strong {
  font-weight: bold;
}

.accordion__panel[aria-hidden="false"] {
  padding-right: 20rem;
}

.accordion__trigger {
  padding: 0;
}

.anchor {
  color: #046b99;
  cursor: pointer;
}

.col .banner-image {
  padding: 0 !important;
  width: 120%;
}

.blue-card {
  background: #046b99;
  color: #fff;
}

.blue-gradient {
  background: linear-gradient(180deg, #01425e 26.31%, #046b99 95.15%);
}

.col img {
  width: 100%;
}

.dark-banner {
  background: linear-gradient(13deg, #eef8fb 0%, #6db7d8 100%);
  color: #000;
  padding: 40px 0px;
}

.dark-text {
  color: #3b3a48;
}

.feedback {
  background-color: #f3f3f4;
}

.focus-area-header {
  background: linear-gradient(13deg, #eef8fb 0%, #6db7d8 100%);
}

.ghost-button {
  border: 1px solid #fff;
  color: #fff;
}
.ghost-button:hover {
  /* background: #a3a3a3d6; */
  border: 1px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.gray {
  background: #ededef;
}

.grid-link-margin {
  margin-bottom: 1rem;
}

.light-gray {
  background: #eef8fb;
}

.logo {
  align-self: flex-end;
  width: 55px;
}

.mobile-order-2 {
  flex-basis: min-content;
  flex-grow: 2;
}

button::before {
  content: none !important;
}

.p-r-larger {
  padding-right: 17rem;
}

.purple-text {
  color: #035376;
}

.objective-card {
  background: #eef8fb;
}

.objective-card > h3 {
  color: #035376;
}

.text-align-center {
  text-align: center;
}

@media screen and (max-width: 991px) {
  .col .banner-image {
    width: 30%;
  }

  .container .my-4 {
    flex-direction: column;
  }

  .logo {
    width: 44px;
  }

  .mobile-order-2 {
    order: 2;
  }

  .p-r-larger {
    padding-right: unset;
  }
}

@media screen and (max-width: 767px) {
  .container .my-4 {
    flex-direction: column;
  }

  .grid-link-margin {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 479px) {
  .text-2-5rem {
    font-size: 1.5rem !important;
  }
}
